#define __PIC__
#undef __PIE__
#define AUD_GLIB_INTEGRATION
#define BUILDSTAMP ""
#define COPYRIGHT ""
#define EXPORT
#define FILEWRITER_FLAC
#define FILEWRITER_MP3
#define FILEWRITER_VORBIS
#define HAVE_FFMPEG
#define HAVE_SIGWAIT
#define HAVE_SYS_SOUNDCARD_H
#define ICONV_CONST
#define PACKAGE "audacious"
#define PACKAGE_VERSION ""
#define USE_DBUS
#define USE_GTK
#define USE_QT
#define VERSION ""
#define WANT_VFS_STDIO_COMPAT
